.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.flowContainer {
  flex: 1;
  position: relative;
  padding-top: 60px; /* 타임라인 바 높이만큼 패딩 */
}

.reactFlow {
  width: 100%;
  height: 100%;
}
